



/*-----------------------------CAMBIOS A LA CAJA DE CONTACTENOS Y CAJA DE ENVIOS-------------------------*/


.container_envios {
    background-color: var(--color-secundario);
    opacity: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;   
}