


/*---------------------------------------------VARAIBLES---------------------------------------------------*/
:root {
    --color-principal: #060100;
    --color-secundario: #99C4C8;
    --color-terciario: #FCFBFB;
    --color-cuarto: #99C4C8;
}