


/*---------------------------------------------VARAIBLES---------------------------------------------------*/
:root {
    --color-principal: #060100;
    --color-secundario: #524A4E;
    --color-terciario: #FCFBFB;
    --color-cuarto: #E83A14;
}