


/*---------------------------------------------VARAIBLES---------------------------------------------------*/
:root {
    --color-principal: #060100;
    --color-secundario: #DAB88B;
    --color-terciario: #FCFBFB;
    --color-cuarto: #00ffff;
}