

/*--------------------------------------------REDES SOCIAL Y FOOTER--------------------------------------*/

footer {
    background-color: var(--color-secundario) ;
    .redes_sociales {
        width: 20px;
        height: 20px;
     
    }
}


