

/*--------------------------------------------REDES SOCIAL Y FOOTER--------------------------------------*/

footer {
    background-color:  #D1D1D1;
    .redes_sociales {
        width: 20px;
        height: 20px;
     
    }
}


