


/*---------------------------------PERMITE MODIFICAR EL TEXTO DE UBICACION DE LA EMPRESA-------------------*/

.texto_ubi {
    font-size: 30px;
    text-align: center;
   
}

iframe {
    width: 100%;
}