/*----------------------------------------------MEDIA QUERIES--------------------------------------------*/
/* ----------------------------- inicio de grid ----------------------------- */
.bodyi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "contentIndex"
        "footerIndex ";
}

.contenedor_header {
    grid-area: header;
}

.seccion {
    grid-area: contentIndex;
}

.footerIndex {
    grid-area: footerIndex;
}

@media only screen and (max-width:768px) {
    .bodyi {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "contentIndex contentIndex contentIndex"
            "footerIndex footerIndex footerIndex";
    }
}

@media only screen and (max-width:480px) {
    .bodyi {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "contentIndex contentIndex"
            "contentIndex contentIndex"
            "footerIndex footerIndex";
    }
}

@media only screen and (max-width:320px) {
    .bodyi {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "contentIndex"
            "footerIndex";
    }
    .contenedor_header {
        width: 95%;
        
    }
    .seccion {
        width: 95%;
                
    }
    .footerIndex {
        width: 95%;
        
        
    }
}

