@import "./boostrap-scss/bootstrap.scss";
@import "esctructura";
@import "colores";
@import "mediaqueries";

/*VARAIBLES*/
:root {
    --color-principal: #060100;
    --color-secundario: #DAB88B;
    --color-terciario: #FCFBFB;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
       
}

h3 {
    color: var(--color-principal);
}

.bodyi {
    background-color:  var(--color-secundario);
    display: flex;
    font-size: 15px;    
}

a {
    font-size: 16px; 
}
h5 {
    display: flex;
    justify-content: center;
}



/*CAMBIOS A LA CAJA DEL ASIDE DE ENVIO GRATIS,PAGA AL RECIBIR*/
.container_envios {
    background-color: var(--color-secundario);
    opacity: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;   
}

/*IMG REDES SOCIALES*/
.redes_sociales {
    width: 30px;
    height: 30px;
}


/*CAJAS CONTENEDORAS DE IMPUTS*/
/*CAJA CONTENEDORA DE CONTACTENOS*/
.container_contac {
    background-color: var(--color-secundario);
    padding: 20px;
    border: 2px solid var(--color-principal);
    border-radius: 5px;
    font-weight: bold;
    display: flex;
         
}

/*ANCHO ALTO Y POINTER AL BOTTON DE LIMPIAR (REFRESCAR)*/
.reset {
    width: 150px;
    height: 20px;
    cursor: pointer;
    font-size: 15px;
}

/*ANCHO ALTO POINTER Y TAMAÑO DE LETRA PARA EL BOTON ENVIAR*/
.enviar_btn {
    width: 150px;
    height: 20px;
    cursor: pointer;
    font-size: 15px;

}
/*PERMITE CENTRAR LA CAJA CONTENEDORA AL CENTRO DE LA PAGINA*/
.container_contac {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*CAJA CONTENEDORA CREE SU CUENTA*/
.Cree_cuenta {
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
    border: 2px solid var(--color-principal);
    border-radius: 5px;
    padding: 30px;
    font-weight: bold;

}

/*IMPUTS DE CONTACTENOS*/
#Nombre, #Apellido,#mail {
    width: 90%;
    height: 20px;
}

#Tipo_de_producto, #password {
    width: 58%;
    height:20px;
}
#confirme_contraseña {
    width: 27%;
    height: 20px;
}

/*MODIFICAR BOTTON DE ENVIAR*/
.enviar {
    width: 50%;
    height: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    cursor: pointer;    
}


#Area_de_texto {
    width: 100%;
    height: 90px;
}

#Mail {
    width: 70%;
    height: 20px;
    
}

/*PERMITE A LOS TTITULOS PRINCIPALES, CONTACTENOS,LISTA DE PRECIOS, 
CREE SU CUENTA,INGRESE DARLE CARACTERISTICAS DE TAMAÑO COLOR FORMA ETC*/

.titulo_T {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-align: center;
}

.texto_ubi {
    font-size: 30px;
    text-align: center;
}

/*MAPA DE UBICACION*/
iframe {
    width: 100%;
}

/*CAJA CONTENEDORA INGRESE AL USUARIO*/
.Ingrese {
    background-color: var(--color-secundario);
    border: 2px solid var(--color-principal);
    border-radius: 5px;
    padding: 30px;
    font-weight: bold;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

/*OPCIONES PARA EL ESPACIO EN BLANCO DEL EMAIL*/
#Mail {
    width: 81%;
}

/*DIVS DE LICORES,CERVEZAS Y OFERTAS ALTO ANCHO Y COLOR BLANCO*/

.texto_div {
    background-color: var(--color-terciario);
    display: grid;
    border-radius: 5px;
    margin: 10px;
    color: var(--color-principal);
            
}

.texto_ofe {
    background-color: var(--color-terciario);
    display: grid;
    border-radius: 5px;
    margin: 10px;
    color: var(--color-principal);
}
/*CAJA CONTEDORA DE LOS DIVS DE LICORES Y DE CERVEZAS GRID*/
.container_licores,.container_cervezas {
    background-color: var(--color-secundario);
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding: 30px;
    gap: 20px;
    flex-direction:column;
    justify-content: center;
    align-items: center;    
}
.ofertas_cervezas {
    background-color: var(--color-secundario);
    display: grid;
    grid-template-columns: 18% 18% 18% 18%;
    padding: 30px;
    gap: 40px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

/*aANIMACIONES PARA LAS CAJAS CONTENEDORAS DE LICORES, CERVEZAS Y OFERTAS*/
.texto_div:hover {
    transform: scale(1.1);
}

 /*TEXTO DE LA CAJA DE LOS DIVS DE LICORES,CERVEZAS Y OFERTAS*/
.texto_div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:center; 
    font-weight: bold;
         
}

.contenedor_header {
    grid-area: header;
}
.seccion {
    grid-area: seccion;
}
.Footer_derechos {
    grid-area: footer;
}


/*MEDIA QUERIES*/

.bodyi {
    display: grid;
    grid-template-areas: 
    "header"
    "seccion"
    "footer";   
}

@media only screen and (max-width:1200px){
    .bodyi {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "seccion"
        "footer";
}
}

@media only screen and (max-width:1024px){
    .bodyi {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "seccion"
        "footer";
}
}
@media only screen and (max-width:768px){
    .bodyi {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "seccion"
        "footer";    
    }
    .imgatenas {
        height: 65px;
        display: flex;
        justify-content: center;
        text-align: center; 
        align-items: center;
    }
    
}
@media only screen and (max-width:600px){
    .bodyi {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "seccion"
        "footer";
}
}


@media only screen and (max-width:480px){
    .bodyi {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "seccion"
        "footer";
    }
    .imgatenas {
        height: 35px;
        width: 55px;
}
        
    }

    @media only screen and (max-width:320px){
        .bodyi {
            grid-template-columns: 1fr;
            grid-template-areas:
            "header"
            "seccion"
            "footer";
        }
        .baner_leyenda {
            width: 100%;
        }
    }
